// Base
$page-max-width: 1200px;

// Navbar
$navbar-max-width: $page-max-width;
$navbar-background-color: black;
$navbar-text-color: white;

// Column layout
$col-content-min-width: 200px;
$col-content-max-width: 800px;
