{{ define "left-sidebar" }}
{{ end }}


{{ define "content" }}
    <div class="content">
        <h1>Projects</h1>

        <div class="projects-list">
            {{ range .Pages.ByDate.Reverse }}
                <h4><a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <p>{{ .Summary }}</p>
            {{ end }}
        </div>
    </div>
{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}


{{ define "main" }}
    <div class="container">
        <div class="columns">

            <aside class="column is-2">
                {{ block "left-sidebar" . }} {{ end }}
            </aside>

            <article class="column is-8">
                {{ block "content" . }} {{ end }}
            </article>

            <aside class="column is-2">
                {{ block "right-sidebar" . }} {{ end }}
            </aside>

        </div>
    </div>
{{ end }}