{{ define "left-sidebar" }}
{{ end }}


{{ define "content" }}

    {{ if eq .Kind "taxonomy" }}
        <div>
            <h1>Posts by Category</h1>

            <div class="posts-list">
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                    <h2>{{ $name }}</h2>

                    {{ range $taxonomy }}
                        <div>
                            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                            <p>{{ .Summary }}</p>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>

    {{ else if eq .Kind "term" }}
        <div>
            <h1>Posts for category: {{ .Title }}</h1>

            <div class="posts-list">
                {{ range .Pages }}
                    <div>
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Summary }}</p>
                    </div>
                {{ else }}
                    <p>No posts in this category.</p>
                {{ end }}
            </div>
        </div>

    {{ end }}
{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}


{{ define "main" }}
    <div class="column-layout">

        <aside class="sidebar sidebar-left">
            {{ block "left-sidebar" . }} {{ end }}
        </aside>

        <article class="main-column">
            {{ block "content" . }} {{ end }}
        </article>

        <aside class="sidebar sidebar-right">
            {{ block "right-sidebar" . }} {{ end }}
        </aside>

    </div>
{{ end }}