// Base
$page-max-width: 1200px;

// Navbar
$navbar-max-width: $page-max-width;

// Column layout
$col-content-min-width: 200px;
$col-content-max-width: 800px;


// Table of contents
$toc-indent: 10px;
$toc-nested-spacing: 5px;
