header {
   nav {
      max-width: 1200px;
      margin: 0 auto;
      background-color: black;

      .nav-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 15px;
         font-family: sans-serif;

         .nav-title {
            float: left;
            font-size: 1.5em;
            font-weight: bold;
         }

         .nav-links {
            float: right;
            list-style: none;
            display: flex;
            float: right;

            li {
               margin: 0 15px;
            }
         }

         a {
            text-decoration: none;
            color: white;
         }

      }

   }
}

.column-layout {
   display: grid;
   grid-template-columns: 1fr minmax(200px, 800px) 1fr;
   gap: 20px;
   max-width: 1200px;
}

.post-content {
   max-width: 800px;
   padding: 15px;
}

.sidebar {
   padding: 15px;

   h3 {
      font-weight: bold;
   }
}

.sidebar-left {

}

.sidebar-right {

}


.toc {
   ul {
      list-style-type: none;
      padding: 0;
   }

   li {
      margin: 5px 0;
   }

   a {
      text-decoration: none;
      color: black;
   }
}


.categories {
   ul {
      list-style-type: none;
      padding: 0;
   }

   li {
      margin: 5px 0;
   }

   a {
      text-decoration: none;
      color: black;
   }
}


.tags {
   ul {
      list-style-type: none;
      padding: 0;
   }

   li {
      margin: 5px 0;
   }

   a {
      text-decoration: none;
      color: black;
   }
}