<!DOCTYPE html>
<html lang="en">

    {{ partial "head.html" .}}

    <body class="has-navbar-fixed-top">
        <header>
            {{ partial "navbar.html" . }}
        </header>

        <section class="section site-layout">

            <div class="container">
                <div class="columns columns-layout">
            
                    <aside class="column is-2 sidebar">
                        <div>
                            {{ block "left-sidebar" . }} {{ end }}
                        </div>
                    </aside>
            
                    <article class="column is-8 is-flex-grow-1 main-column">
                        {{ block "main-content" . }} {{ end }}
                    </article>
            
                    <aside class="column is-2 sidebar">
                        <div>
                            {{ block "right-sidebar" . }} {{ end }}
                        </div>
                    </aside>
            
                </div>
            </div>

        </section>

        {{ partial "footer.html" . }}

        {{ partial "scripts.html" . }}
    </body>
</html>