<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{{ .Title }}</title>
        
        <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    </head>

    <body class="has-navbar-fixed-top">
        <header>
            {{ partial "navbar.html" . }}
        </header>

        <div class="site-layout">

            <div class="container">
                <div class="columns">
            
                    <aside class="column is-2 content-column">
                        {{ block "left-sidebar" . }} {{ end }}
                    </aside>
            
                    <article class="column is-8 content-column">
                        {{ block "main-content" . }} {{ end }}
                    </article>
            
                    <aside class="column is-2 content-column">
                        {{ block "right-sidebar" . }} {{ end }}
                    </aside>
            
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}

        {{ partial "scripts.html" . }}
    </body>
</html>