{{ define "main" }}

<div class="post-layout">

    <aside class="post-sidebar-left">
        <div class="toc">
            <h3>Table of Contents</h3>
            {{ .TableOfContents }}
            {{/*  <ul>
                {{ $headings := .Content | markdownify | .Headings }}
                {{ range $headings }}
                <li><a href="#{{ .ID }}">{{ .Text }}</a></li>
                {{ end }}
            </ul>  */}}
        </div>
    </aside>

    <article class="post-content">
        <h1>{{ .Title }}</h1>
        <div>
            {{ .Content }}
        </div>
    </article>

    <aside class="post-sidebar-right">
        <h3>Categories & Tags</h3>
    </aside>
</div>

{{end}}