{{ define "left-sidebar" }}
    {{/*  {{ partial "toc" . }}  */}}
{{ end }}


{{ define "main-content" }}
    <div class="content main-content">
        <article>
            <header>
                <h1>{{ .Title }}</h1>
                <p class="is-italic">{{ .Date.Format "January 2, 2006" }}</p>
                <p>{{ .Summary }}</p>
            </header>

            {{ if .TableOfContents }}
                <div class="box toc">
                    <h2>In this article</h2>
                    {{ .TableOfContents }}
                </div>
            {{ end }}
            
            <main>
                {{ $content := replace .Content .Summary "" }}
                {{ $content | safeHTML }}
            </main>
        </article>
    </div>
{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}