{{ define "main" }}

<div class="post-layout">

    <aside class="post-sidebar-left">
        <div class="toc">
            <h3 class="sidebar-title">Table of Contents</h3>
            {{ .TableOfContents }}
        </div>
    </aside>

    <article class="post-content">
        <h1>{{ .Title }}</h1>
        <div>
            {{ .Content }}
        </div>
    </article>

    <aside class="post-sidebar-right">
        <div class="categories">
            <h3 class="sidebar-title">Categories</h3>
            <ul>
                {{ range .Site.Params.Categories }}
                    <li><a href="{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>

        <div class="Tags">
            <h3>Tags</h3>
        </div>
    </aside>
</div>

{{end}}