{{ define "left-sidebar" }}
{{ end }}


{{ define "content" }}

    <div class="content">
        {{ if eq .Kind "taxonomy" }}
                <h1>Posts by Tag</h1>

                <div class="posts-list">
                    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <h2>{{ $name }}</h2>

                        {{ range $taxonomy }}
                            <div>
                                <h4 class="title is-4">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h4>
                                <p>{{ .Summary }}</p>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>

        {{ else if eq .Kind "term" }}
                <h1>Posts for tag: {{ .Title }}</h1>

                <div class="posts-list">
                    {{ range .Pages }}
                        <div>
                            <h4 class="title is-4">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </h4>
                            <p>{{ .Summary }}</p>
                        </div>
                    {{ else }}
                        <p>No posts for this tag.</p>
                    {{ end }}
                </div>

        {{ end }}
    </div>

{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}


{{ define "main" }}
    <div class="container">
        <div class="columns">

            <aside class="column is-2">
                {{ block "left-sidebar" . }} {{ end }}
            </aside>

            <article class="column is-8">
                {{ block "content" . }} {{ end }}
            </article>

            <aside class="column is-2">
                {{ block "right-sidebar" . }} {{ end }}
            </aside>

        </div>
    </div>
{{ end }}