{{ define "left-sidebar" }}
{{ end }}


{{ define "main-content" }}

    <div class="content">
        <h1>Content by Tag</h1>

        <div class="posts-list">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <h2>{{ $name }}</h2>

                {{ range $taxonomy }}
                    {{ .Render "summary" }}
                {{ else }}
                    <p>No content for this tag.</p>
                {{ end }}
            {{ end }}
        </div>
    </div>

{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}