{{ define "left-sidebar" }}
    <div class="toc">
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
    </div>
{{ end }}


{{ define "content" }}
    <div class="content">
        <div class="post-content">
            <h1>{{ .Title }}</h1>
            <div>
                {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}


{{ define "main" }}
    <div class="container">
        <div class="columns">

            <aside class="column is-2">
                {{ block "left-sidebar" . }} {{ end }}
            </aside>

            <article class="column is-8">
                {{ block "content" . }} {{ end }}
            </article>

            <aside class="column is-2">
                {{ block "right-sidebar" . }} {{ end }}
            </aside>

        </div>
    </div>
{{ end }}