{{ define "left-sidebar" }}
    <div class="toc">
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
    </div>
{{ end }}


{{ define "content" }}
    <div class="post-content">
        <h1>{{ .Title }}</h1>
        <div>
            {{ .Content }}
        </div>
    </div>
{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}


{{ define "main" }}
    <div class="column-layout">

        <aside class="sidebar sidebar-left">
            {{ block "left-sidebar" . }} {{ end }}
        </aside>

        <article class="main-column">
            {{ block "content" . }} {{ end }}
        </article>

        <aside class="sidebar sidebar-right">
            {{ block "right-sidebar" . }} {{ end }}
        </aside>

    </div>
{{ end }}