<div class="block">

    <div class="content">
        <div class="categories">
            <h5><a href="/categories/">Categories</a></h5>
            <ul class="ml-4">
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li>
                    <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">
                    {{ $name }}</a> ({{ len $taxonomy }})
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>