<nav class="navbar is-fixed-top is-dark pl-5 pr-5" role="navigation">

    <div class="navbar-brand">
        <a class="navbar-item is-size-5 has-text-weight-bold"
            href="{{ "/" | relURL }}">
            {{ .Site.Title }}
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="{{ "/projects/" | relURL }}">Projects</a>
            <a class="navbar-item" href="{{ "/articles/" | relURL }}">Articles</a>
            <a class="navbar-item" href="{{ "/posts/" | relURL }}">Posts</a>
            <a class="navbar-item" href="{{ "/about/" | relURL }}">About</a>
        </div>
    </div>
</nav>