{{ define "left-sidebar" }}
{{ end }}


{{ define "main-content" }}

    <div class="content">

        <div class="block">
            <h1 class="mb-8">Featured projects</h1>

            <div class="projects-list">
                {{ $projects := where .Site.RegularPages "Section" "projects" }}
                {{ $featured_projects := where $projects "Params.featured" true }}
                {{ range $featured_projects }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </div>

        <div class="block mt-6">
            <h1 class="mb-5">Featured posts</h1>

            <div class="posts-list">
                {{ $posts := where .Site.RegularPages "Section" "posts" }}
                {{ $featured_posts := where $posts "Params.featured" true }}
                {{ range $featured_posts }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>
        </div>

    </div>

{{ end }}


{{ define "right-sidebar" }}
    {{ partial "categories.html" . }}
    {{ partial "tags.html" . }}
{{ end }}